{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "strict": 0,
    "space-infix-ops": 2,
    "no-console": 0,
    "no-unused-vars": 1
  },
  "globals": {}
}